/*start main Rolze*/
body{
    background-color: #f4f4f4 ;
}

/*end main Rolze */

/* start login form */
.login{
    width: 300px;
    margin: 100px auto;
}
.login h4{
    text-align: center;
    color: #888;
}
.login input{
    margin-bottom: 10px;
}
.login .form-control{
    background-color: #e5e5e5;
}
.login .btn{
    background-color:#008dde ;
}
/*end login form */