/*start main Rolze*/
body{
    background-color: #f4f4f4 ;
    font-size: 16px;
}
/*end main Rolze */

/* start login form */
.login{
    width: 300px;
    margin: 100px auto;
}
.login h4{
    text-align: center;
    color: #888;
}
.login input{
    margin-bottom: 10px;
}
.login .form-control{
    background-color: #e5e5e5;
}
.login .btn{
    background-color:#008dde ;
}
/*end login form */

/*start bootstrsp edit */

.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
}
.nav>li>a ,
.navbar-brand
{
    padding: 15px 12px ;
}
.navbar-brand{
    font-size: 1em;
}
.navbar-inverse .navbar-nav >.open>a, 
.navbar-inverse .navbar-nav >.open>a:focus, 
.navbar-inverse .navbar-nav >.open>a:hover {
    color: #fff;
    background-color:rgb(21, 148, 221);
}

.dropdown-menu {
    background-color:rgb(21, 148, 221);
    min-width: 180px;
    text-align: center;
    padding: 0;
    font-size: 1em;
    border: none;
    border-radius: 0;
}

.dropdown-menu >li > a{
    color: #fff;
    padding: 8px 15px;

}

/*end bootstrsp edit */

/* start Dashboard */

.home-stats .stat{
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    color: #EEE;

}
.home-stats .stat a{
    color: #EEE;
    text-decoration: none;
}
.home-stats .stat span{
    display: block;
    font-size: 50px;
}
.home-stats .st-members{
    background-color: #fe8a71; 
}
.home-stats .st-pending{
    background-color: #3da4ab;
}
.home-stats .st-items{
    background-color: #2ecc71;   
}
.home-stats .st-comments{
    background-color: #9b59b6;
}
.latest{
    text-align: left;
    margin-top: 30px;

}

.latest-user{
    margin-bottom: 0;
}
.latest-user li{
    padding: 10px;
    overflow: hidden;
}
.latest-user li span a{
    text-decoration: none;
    color: #EEE;
}
.latest-user li:nth-child(odd){
    background-color: #e4e4ec;
}
.latest-user li .btn{
    padding: 0px 5px;
}


/* end Dashboard */

/* start members */

h1{
    font-size: 55px;
    margin: 40px 0;
}
.main-table {
    box-shadow : 0 3px 10px #ccc;
}
.main-table td{
    background-color: #fff;
    vertical-align: middle !important;
}

.main-table tr:first-child td{
    background-color:#3aabb3;
    color: #FFF;

}

.main-table .btn{
    padding: 3px 10px;
}



/* end members */


